body {
    position: relative;
    background: url("/assets/bg-login.png") no-repeat center center fixed;
    padding: 0;
    border: 1rem solid transparent;
    backdrop-filter: blur(5px);
    min-height: 90%;
}

#root {
    min-height: 100%;
    padding: 3vw;
    background-color: rgba(248, 246, 246, 0.5);
}
